.drawer {
    z-index: 1000;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    overflow: hidden;
}

.drawer button {
    width: 100%;
    padding:3px 5px;
    text-align: left;
    white-space: nowrap;
    color:inherit;
    background-color: inherit;
    border:none;
    font-family:inherit;
}

.drawer button:focus {
    outline: none;
}

.drawer button:hover, .activeButton {
    background-color: white;
    mix-blend-mode: exclusion;
    color: black;
}

.subDropDown > button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.openUp {
    /* flex-flow: column-reverse wrap; */
}

.openLeft {
    flex-flow: row-reverse;
    align-self: flex-end;
}

.openLeft button {
text-align: right !important;
}

.disableHover {
    pointer-events: none;
}